<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ServletCliente</servlet-name>
        <servlet-class>servlet.ServletCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTrabajador</servlet-name>
        <servlet-class>servlet.ServletTrabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>servlet.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletReservas</servlet-name>
        <servlet-class>servlet.ServletReservas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCategoria</servlet-name>
        <servlet-class>servlet.ServletCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTipoServicio</servlet-name>
        <servlet-class>servlet.ServletTipoServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletServicio</servlet-name>
        <servlet-class>servlet.ServletServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEspecialidad</servlet-name>
        <servlet-class>servlet.ServletEspecialidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEstadisticas</servlet-name>
        <servlet-class>servlet.ServletEstadisticas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCuponera</servlet-name>
        <servlet-class>servlet.ServletCuponera</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCliente</servlet-name>
        <url-pattern>/ServletCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTrabajador</servlet-name>
        <url-pattern>/ServletTrabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ServletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletReservas</servlet-name>
        <url-pattern>/ServletReservas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCategoria</servlet-name>
        <url-pattern>/ServletCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTipoServicio</servlet-name>
        <url-pattern>/ServletTipoServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletServicio</servlet-name>
        <url-pattern>/ServletServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEspecialidad</servlet-name>
        <url-pattern>/ServletEspecialidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEstadisticas</servlet-name>
        <url-pattern>/ServletEstadisticas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCuponera</servlet-name>
        <url-pattern>/ServletCuponera</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
